header {
    height: 85vh;
    padding-top: 10rem;
    overflow: hidden;
  }
  
  .header__container {
    text-align:left;
    margin-left: 17rem;
    margin-top: 11rem;;
    height: 100%;
    position: relative;
  }

  
  .reandy {
    color: rgb(0, 125, 183);
  }
  
  .ferdinanto {
    color: rgb(255, 255, 255);
  }
  
  .logo {
    margin-top: -7rem;
    margin-left: 5rem;
  }
  
  .text-header {
    color: rgb(106, 106, 106);
  }

  .about__me {
    position: absolute;
    top: 0%;
    right: 20%;
    width: 25%;
    transform: translate(10, -10%);
    rotate: -6deg;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
      45deg,
      transparent,
      var(--color-primary),
      transparent
    );
    display: grid;
    place-items: center;
  }
  
  .about__me-image {
    position: absolute;
    top: -15%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    width: 120%;
    height: 120%;
  }
  
  .about__me-image:hover {
    transform: rotate(0);
  }
  /*===============CTA=================*/
  
  .cta {
    margin-top: 2.5rem;
    margin-left: 0rem;
    display: flex;
    gap: 1.2rem;
  }
  
  /*============HEADER SOCIALS===========*/
  
  .header__socials {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: -11.5rem;
    bottom: 14rem;
  }
  
  .header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
  }
  
  /*============ME===========*/
  
  .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 15rem;
    height: 20rem;
    position: absolute;
    top: -2rem;
    right: 20rem;
    margin-top: 0rem;
    border-radius: 8rem 6rem 8rem 6rem;
    overflow: hidden;
    padding: 3.5rem 1rem 1rem 1rem;
  }
  
  /*============SCROLL DOWN===========*/
  
  .scroll__down {
    position: absolute;
    right: 2.4rem;
    bottom: 14rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
  }
  
  /* ======================= MEDIA QUERIES(MEDIUM DEVICES)==============*/
  @media screen and (max-width: 1024px) {
    header {
      height: 90vh;
    }
  }
  
  /* ======================= MEDIA QUERIES(MEDIUM DEVICES)==============*/
  @media screen and (max-width: 600px) {
    header {
      height: 60vh;
    }
    .header__socials,
    .scroll__down {
      display: none;
    }
    .header__container {
      text-align:left;
      margin-left: 1rem;
      margin-top: 14rem;;
      height: 50%;
      position: relative;
    }
    .about__me-image {
      position:absolute;
      top:-20%;
      right: -5%;
    }
    
  .about__me {
    position: absolute;
    top: -80%;
    right: 36%;
    width: 30%;
  }
  .logo {
    margin-top: -9rem;
    margin-left: 1.5rem;
  }
  }
  